.ExplorerTemplate {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.5rem;
  background-color: #ffffff;
  display: flex;
  padding-left: 1rem;
  padding-top: 1.9rem;
  height: 100%;
  z-index: 33;
  flex-direction: column;
  transition: ease-in width .1s; }
  @media (min-width: 62em) {
    .ExplorerTemplate {
      position: relative;
      width: 17.2rem;
      min-width: 17.2rem;
      max-width: 17.2rem;
      padding-left: 0;
      padding-top: 3.5rem;
      background-color: transparent;
      z-index: 0;
      height: 90%; } }
  .ExplorerTemplate__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: 3; }
    .ExplorerTemplate__background.CR__hidden--L {
      background-color: #000000; }
  .ExplorerTemplate__files {
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; }
  .ExplorerTemplate__ctrlTab {
    display: flex;
    margin-top: auto; }
    .ExplorerTemplate__ctrlTab__btn {
      border: 0;
      outline: 0; }
    .ExplorerTemplate__ctrlTab__btn + .ExplorerTemplate__ctrlTab__btn {
      margin-left: .6rem; }

.dark .ExplorerTemplate {
  background-color: #2a2c3d; }

.AdminLayout .ExplorerTemplate {
  position: relative;
  width: 18rem;
  min-width: 18rem;
  max-width: 18rem;
  padding-left: 0;
  background-color: transparent;
  z-index: 1; }

.ExplorerTemplate.Terminal {
  padding-top: 1.5rem;
  height: 100%; }
  @media (min-width: 62em) {
    .ExplorerTemplate.Terminal {
      padding-top: 0;
      width: 17.4rem;
      min-width: 17.4rem;
      max-width: 17.4rem; } }

.ExplorerItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: .6rem .75rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: .4rem;
  cursor: pointer; }
  @media (min-width: 62em) {
    .ExplorerItem {
      padding-left: 0; } }
  .ExplorerItem--rootRightPadding {
    padding-right: 3rem; }
  .ExplorerItem__download {
    position: absolute;
    top: .6rem;
    right: 1rem;
    display: none; }
    .ExplorerItem__download .ExplorerItem__download--btn {
      width: 2rem;
      height: 2rem; }
  .ExplorerItem:hover .ExplorerItem__download {
    display: block; }
  .ExplorerItem__name {
    margin-left: .6rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.25px;
    color: #8e8a95;
    white-space: nowrap; }
    @media (min-width: 48em) {
      .ExplorerItem__name {
        font-size: 1.5rem; } }
    @media (max-width: 48em) {
      .ExplorerItem__name {
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden; } }
    .ExplorerItem__name .TextLengthController__fullText {
      color: #333236; }
  .ExplorerItem__option {
    padding: 0 5px;
    display: flex;
    margin-left: auto;
    flex-direction: column;
    color: #ffffff;
    border: 0;
    outline: 0;
    font-size: 18px; }
    .ExplorerItem__option__dot {
      display: block;
      width: 3px;
      height: 3px;
      background-color: #a9abb7;
      border-radius: 50%; }
    .ExplorerItem__option__dot + .ExplorerItem__option__dot {
      margin-top: 2px; }
  .ExplorerItem__optionWrapper {
    display: flex;
    margin-left: auto; }
  .ExplorerItem__edit {
    margin-left: .6rem;
    font-size: 13px;
    outline: none;
    max-width: 9rem;
    border: none;
    color: #4d4d4d;
    border-bottom: 1px solid #bbbbbb; }
  .ExplorerItem .DropdownContent {
    max-height: 30rem;
    border-radius: 0.1rem;
    left: -13.1rem;
    width: 15.2rem; }
    @media (min-width: 62em) {
      .ExplorerItem .DropdownContent {
        left: -8.5rem;
        width: 10.6rem; } }
    .ExplorerItem .DropdownContent__item {
      font-size: 1.3rem;
      text-align: left; }

.ExplorerItem.SelectedFolder .ExplorerItem__name, .ExplorerItem.SelectedFile .ExplorerItem__name {
  color: #333236; }

.ExplorerItem.SelectedFile {
  background-color: #eeeef1;
  border-radius: .6rem 0 0 .6rem; }

.ExplorerItem.dark__name {
  color: #a9abb7; }

.ExplorerItem.dark .DropdownContent {
  background-color: #393d4b; }
  .ExplorerItem.dark .DropdownContent__item {
    color: #dde0eb;
    border-top-color: #2a2c3d; }

.ExplorerItem.dark .ExplorerItem__option__dot {
  background-color: #dde0ea; }

.ExplorerItem.SelectedFolder.dark .ExplorerItem__name, .ExplorerItem.SelectedFile.dark .ExplorerItem__name {
  color: #ffffff; }

.ExplorerItem.SelectedFolder.dark .ExplorerItem__option__dot, .ExplorerItem.SelectedFile.dark .ExplorerItem__option__dot {
  background-color: #ffffff; }

.ExplorerItem.SelectedFile.dark {
  background-color: #212434;
  border-radius: .6rem 0 0 .6rem; }

.dark.ExplorerItem__popupRemoveFile .PopupGeneral__btns--btn2 {
  color: #ffffff; }

.dark.ExplorerItem__popupRemoveFile .ExplorerItem__edit {
  color: #ffffff; }

.ExplorerItemIcon {
  display: flex;
  align-items: center;
  -webkit-user-drag: none; }

.DropdownContent {
  overflow: auto;
  line-height: initial;
  position: relative;
  border-radius: 5px;
  z-index: 15;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.21);
  max-height: 15rem;
  top: 2rem; }
  .DropdownContent__angle {
    display: inline-block;
    position: absolute;
    width: .75rem;
    height: .75rem;
    background: #ffffff;
    transform: rotate(45deg);
    z-index: 0;
    top: -.375rem;
    right: 12px; }
  .DropdownContent__item {
    padding: 12px 13px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.21px;
    text-align: center;
    color: #333236;
    outline: 0;
    border: 0;
    min-width: 100%;
    white-space: nowrap; }
  .DropdownContent__item + .DropdownContent__item {
    border-top: 1px solid #e1e4f1; }

.dark.DropdownContent {
  background-color: #2b2e3c;
  box-shadow: 0 0.1rem 1rem 0 rgba(18, 20, 25, 0.46); }
  .dark.DropdownContent .DropdownContent__angle {
    background-color: #2b2e3c; }
  .dark.DropdownContent .DropdownContent__item {
    color: #ffffff; }
    .dark.DropdownContent .DropdownContent__item:hover {
      background-color: rgba(255, 255, 255, 0.13); }
  .dark.DropdownContent .DropdownContent__item + .DropdownContent__item {
    border-top: 1px solid rgba(225, 228, 241, 0.1); }

.NewEditorBtn {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border: 0; }
  .NewEditorBtn + .NewEditorBtn {
    margin-left: 2rem; }
  .NewEditorBtn img {
    width: 100%;
    cursor: pointer; }
  .NewEditorBtn .NewEditorBtn__reactToolTip {
    font-weight: 600;
    text-align: center;
    padding: .7rem 1.2rem;
    font-size: 1.2rem;
    border: 0;
    background-color: #8F00FF;
    color: #ffffff; }

.CodeEditorToolbarTemplate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.0rem; }
  @media (min-width: 62em) {
    .CodeEditorToolbarTemplate {
      padding-right: 0.7rem; } }
  .CodeEditorToolbarTemplate .PopupWithComponent {
    min-width: 0rem;
    background-color: #ffffff;
    padding: 2.0rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .CodeEditorToolbarTemplate__openManageFilesButton {
    width: 24.5rem;
    height: 2.9rem;
    margin-bottom: 1.0rem;
    margin-top: 1.0rem;
    border-radius: 1.5rem;
    border: solid 0.1rem #e8e8e8;
    background-color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    color: #a9abb7; }
    @media (min-width: 62em) {
      .CodeEditorToolbarTemplate__openManageFilesButton {
        width: 15.4rem;
        height: 2.9rem;
        margin-right: 1.3rem;
        margin-bottom: 1.0rem;
        margin-top: 1.0rem;
        border-radius: 1.5rem; } }
  .CodeEditorToolbarTemplate__manageFilesButton {
    display: block;
    margin: 0.5rem 0;
    padding: 0;
    font-size: 1.7rem;
    color: #69666d;
    font-weight: 500;
    width: 19.8rem;
    height: 5.6rem;
    background-color: #e5e5ea;
    border-radius: 0.9rem; }
    .CodeEditorToolbarTemplate__manageFilesButton > label {
      font-size: inherit;
      font-weight: inherit; }
  .CodeEditorToolbarTemplate__resetFileButton {
    display: block;
    font-size: 1.4rem; }

.Dark.CodeEditorToolbarTemplate .PopupWithComponent {
  background-color: #2a2c3d; }

.Dark.CodeEditorToolbarTemplate .CodeEditorToolbarTemplate__openManageFilesButton {
  border: solid 0.1rem #212232;
  background-color: #393c4b;
  color: #a9abb7; }

.Dark.CodeEditorToolbarTemplate .CodeEditorToolbarTemplate__manageFilesButton {
  color: #a9abb7;
  background-color: #1d202e; }

.CodeEditorToolbarItem {
  width: 2.7rem;
  height: 2.7rem;
  border: 0;
  outline: 0; }

.PopupWithComponent__onlyTextMode {
  padding: 3.2rem 3.8rem 3.4rem; }
  @media (min-width: 48em) {
    .PopupWithComponent__onlyTextMode {
      padding: 4.3rem 7.7rem 3.8rem; } }
  .PopupWithComponent__onlyTextMode .PopupWithComponent__content {
    font-size: 1.5rem;
    line-height: 1.47;
    letter-spacing: -0.26px;
    color: #343236;
    word-break: keep-all;
    text-align: center; }
    @media (min-width: 48em) {
      .PopupWithComponent__onlyTextMode .PopupWithComponent__content {
        font-size: 1.7rem;
        line-height: 1.41;
        letter-spacing: -0.3px; } }

.PopupWithComponent {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #2a2c3d;
  border-radius: 1.5rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.12);
  padding: 4.1rem 0;
  min-width: 48.7rem; }
  @media (max-width: 30em) {
    .PopupWithComponent {
      min-width: calc(100vw - 3rem); } }
  .PopupWithComponent__title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -.04rem;
    color: #ffffff; }
  .PopupWithComponent__content {
    margin-top: 1rem;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -.025rem;
    text-align: center;
    color: #dde0ea; }
  .PopupWithComponent__closeBtn {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    border: none; }
  .PopupWithComponent__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2.5rem; }
    .PopupWithComponent__btns--each {
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: -0.25px; }
      @media (min-width: 48em) {
        .PopupWithComponent__btns--each {
          font-size: 1.5rem; } }
    .PopupWithComponent__btns--btn1 {
      position: relative;
      display: inline-block;
      padding: .6rem 3.3rem 1.5rem;
      color: #ffffff;
      background-image: linear-gradient(290deg, #5709bc, #8b40f5);
      border: none;
      border-radius: 1.2rem;
      outline: transparent; }
      .PopupWithComponent__btns--btn1 * {
        position: relative;
        z-index: 2;
        transform: translateY(-0.4rem); }
      .PopupWithComponent__btns--btn1::before {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: -.6rem;
        left: 0;
        border-radius: 1.1rem;
        background-image: linear-gradient(292deg, #7600ff, #925df4);
        content: ''; }
    .PopupWithComponent__btns--btn2 {
      padding: 1rem 2rem;
      margin-bottom: 0.6rem;
      margin-left: .5rem;
      color: #5d5f67; }

.PopupFileManager .PopupWithComponent {
  background-color: #ffffff;
  padding: 3.3rem 8rem 3.5rem; }
  @media (max-width: 30em) {
    .PopupFileManager .PopupWithComponent {
      padding: 3.3rem 2.5rem 3.5rem; } }
  .PopupFileManager .PopupWithComponent__title {
    color: #333236;
    font-size: 1.7rem;
    font-weight: 600; }
  .PopupFileManager .PopupWithComponent p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #a9abb7;
    margin-top: 1.2rem;
    margin-bottom: 0.2rem; }
  .PopupFileManager .PopupWithComponent input {
    width: 100%;
    height: 5.0rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #f2f7f8;
    padding-left: 2.0rem;
    margin-top: 1.5rem;
    margin-bottom: 3.3rem; }
  .PopupFileManager .PopupWithComponent ::-moz-placeholder {
    color: #a8abb8; }
  .PopupFileManager .PopupWithComponent :-ms-input-placeholder {
    color: #a8abb8; }
  .PopupFileManager .PopupWithComponent ::placeholder {
    color: #a8abb8; }
  .PopupFileManager .PopupWithComponent .ButtonGeneral__purple {
    height: 4.0rem;
    min-width: 11.5rem; }
  .PopupFileManager .PopupWithComponent .PopupFileManager__InputWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 5.0rem;
    padding-left: 2.0rem;
    margin-top: 1.5rem;
    margin-bottom: 3.3rem;
    background-color: #f2f7f8;
    border-radius: 0.3rem;
    color: #a8abb8;
    font-size: 1.5rem; }
    .PopupFileManager .PopupWithComponent .PopupFileManager__InputWrapper span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 10.0rem;
      font-size: 1.5rem; }
    .PopupFileManager .PopupWithComponent .PopupFileManager__InputWrapper input {
      width: unset;
      flex-grow: 3;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 2.0rem;
      color: #333236;
      font-size: 1.5rem; }

.PopupFileManager.Dark .PopupWithComponent {
  background-color: #2a2c3d; }
  .PopupFileManager.Dark .PopupWithComponent__title {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 600; }
  .PopupFileManager.Dark .PopupWithComponent input {
    color: #ffffff;
    background-color: #404154; }
  .PopupFileManager.Dark .PopupWithComponent .PopupFileManager__InputWrapper {
    background-color: #404154; }
    .PopupFileManager.Dark .PopupWithComponent .PopupFileManager__InputWrapper input {
      color: #ffffff; }

.EditorTemplate {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column; }
  .EditorTemplate__body {
    height: 100%;
    display: flex; }
    .EditorTemplate__body__left {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden; }
      .EditorTemplate__body__left__editor {
        padding-top: 1rem;
        background-color: #eeeef1;
        flex: 1;
        border-top-left-radius: 0;
        overflow: visible; }
        @media (min-width: 62em) {
          .EditorTemplate__body__left__editor {
            border-radius: .7rem;
            border-top-left-radius: 0; } }
        .EditorTemplate__body__left__editor--webTerminal {
          margin-bottom: 4.9rem; }
        .EditorTemplate__body__left__editor--display {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%; }
          @media (min-width: 62em) {
            .EditorTemplate__body__left__editor--display {
              height: calc(100% - 4.9rem);
              padding-bottom: .3rem; } }
          .EditorTemplate__body__left__editor--display--full {
            height: 100%; }
          .EditorTemplate__body__left__editor--display .invisibleFile {
            color: #a9abb7;
            font-size: 1.5rem; }
        .EditorTemplate__body__left__editor--btns {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 2.5rem 0 1.5rem;
          box-shadow: 0 -.1rem .5rem 0 #e3e3ec;
          background-color: #eeeef1; }
          @media (min-width: 62em) {
            .EditorTemplate__body__left__editor--btns {
              height: 4.9rem; } }
  .EditorTemplate.ExplorerOpened {
    margin-left: 0;
    width: 80%; }
    .EditorTemplate.ExplorerOpened .EditorTemplate__body__left {
      overflow: visible; }
      @media (min-width: 48em) {
        .EditorTemplate.ExplorerOpened .EditorTemplate__body__left {
          overflow: hidden; } }
    .EditorTemplate.ExplorerOpened .EditorTemplate__body .EditorBtns {
      display: none; }
      @media (min-width: 48em) {
        .EditorTemplate.ExplorerOpened .EditorTemplate__body .EditorBtns {
          display: flex; } }
  .EditorTemplate__PopupResetFiles .PopupGeneral {
    padding-top: 4.2rem;
    padding-bottom: 3.0rem; }
    .EditorTemplate__PopupResetFiles .PopupGeneral__contents--title {
      justify-content: center;
      margin-bottom: 1.3rem; }
      .EditorTemplate__PopupResetFiles .PopupGeneral__contents--title > p {
        font-size: 1.8rem;
        font-weight: 600; }
    .EditorTemplate__PopupResetFiles .PopupGeneral__contents--body > p {
      text-align: center; }
    .EditorTemplate__PopupResetFiles .PopupGeneral__btns {
      justify-content: center; }

.EditorTemplate.Dark .EditorTemplate__body__left__editor {
  background-color: #212434; }
  .EditorTemplate.Dark .EditorTemplate__body__left__editor--btns {
    background-color: #212434;
    box-shadow: 0 -0.1rem 0.8rem 0 rgba(18, 21, 35, 0.55); }

.ace_print-margin {
  display: none !important; }

.NewEditorHeader {
  display: flex;
  align-items: flex-end;
  height: 3.5rem; }
  .NewEditorHeader__explorerBtn {
    width: 3.8rem;
    height: 100%;
    text-align: center;
    background-color: #eeeef1;
    border-top-right-radius: .4rem;
    border-top-left-radius: .4rem;
    cursor: pointer; }
    .NewEditorHeader__explorerBtn img {
      width: 1.8rem;
      height: 1.8rem;
      margin-top: .9rem; }
  .NewEditorHeader__currentFile {
    height: 3.5rem;
    display: flex;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-size: cover;
    padding: 0 4rem 0 1.5rem;
    border-bottom: .1rem solid #8f00ff; }
    .NewEditorHeader__currentFile--symbol {
      display: inline-block;
      min-width: .5rem;
      min-height: .5rem;
      background-color: #7c00ff;
      border-radius: 50%; }
    .NewEditorHeader__currentFile--title {
      margin-left: .8rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden; }

.NewEditorHeader.Dark .NewEditorHeader__explorerBtn {
  background-color: #212434; }

.NewEditorHeader.Dark .NewEditorHeader__currentFile--symbol {
  background-color: #8f00ff; }

.NewEditorHeader.Dark .NewEditorHeader__currentFile--title {
  color: #ffffff; }

.NewEditorConsole {
  border-top: .1rem solid #dde0ea;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  @media (min-width: 62em) {
    .NewEditorConsole {
      border-top: none;
      margin-top: 1rem;
      border-radius: .5rem; } }
  .NewEditorConsole__header {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 4.3rem;
    min-height: 4.3rem;
    background-color: #eeeef1;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: -.03rem;
    color: #333236; }
    @media (min-width: 62em) {
      .NewEditorConsole__header--hasTab {
        background-color: transparent; } }
    .NewEditorConsole__header--btns {
      margin-right: 1.5rem; }
      @media (min-width: 48em) {
        .NewEditorConsole__header--btns {
          margin-right: 2rem; } }
    .NewEditorConsole__header__result {
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: -.03rem;
      color: #69666d;
      padding: 0 1.5rem; }
      @media (min-width: 48em) {
        .NewEditorConsole__header__result {
          font-size: 1.7rem;
          padding: 0 2rem; } }
    .NewEditorConsole__header__tabs {
      display: flex;
      align-items: center;
      height: 100%;
      max-width: calc(100% - 15rem);
      margin-left: .3rem; }
      @media (min-width: 48em) {
        .NewEditorConsole__header__tabs {
          margin-left: .4rem; } }
      @media (min-width: 62em) {
        .NewEditorConsole__header__tabs {
          margin-left: 0; } }
      .NewEditorConsole__header__tabs__tab {
        padding: 0 1.2rem;
        font-size: 1.3rem;
        font-weight: 500;
        color: #a9abb7;
        text-overflow: ellipsis;
        overflow: auto;
        white-space: nowrap;
        word-wrap: normal;
        border: 0;
        outline: 0; }
        @media (min-width: 48em) {
          .NewEditorConsole__header__tabs__tab {
            padding: 0 1.6rem;
            font-size: 1.7rem; } }
        @media (min-width: 62em) {
          .NewEditorConsole__header__tabs__tab {
            width: 10.2rem;
            height: 100%;
            padding: 0;
            background-color: #e5e5e9;
            border-top-right-radius: .6rem;
            border-top-left-radius: .6rem; } }
        .NewEditorConsole__header__tabs__tab.Active {
          color: #333236; }
          @media (min-width: 62em) {
            .NewEditorConsole__header__tabs__tab.Active {
              background-color: #eeeef1; } }
      .NewEditorConsole__header__tabs__divider {
        width: .1rem;
        height: 1.4rem;
        background-color: #a9abb7; }
        @media (min-width: 48em) {
          .NewEditorConsole__header__tabs__divider {
            height: 1.6rem; } }
        @media (min-width: 62em) {
          .NewEditorConsole__header__tabs__divider {
            display: none; } }
  .NewEditorConsole__content {
    flex: 1;
    background-color: #eeeef1;
    height: calc(100% - 5.5rem);
    padding: 1.8rem;
    overflow: scroll; }
    @media (min-width: 48em) {
      .NewEditorConsole__content {
        padding: 1rem 2.5rem 1.2rem; } }
    .NewEditorConsole__content--noPadding {
      padding: 0; }
    .NewEditorConsole__content__pre {
      height: 100%;
      color: #333236;
      font-size: 15px;
      line-height: 1.47;
      letter-spacing: -0.3px; }
      .NewEditorConsole__content__pre .open {
        height: 100%; }
      .NewEditorConsole__content__pre .closed {
        display: none; }
    .NewEditorConsole__content--hasTab {
      overflow: scroll;
      border-top-right-radius: .5rem; }

.Dark.NewEditorConsole {
  border-top: .1rem solid #1a1b20; }
  @media (min-width: 62em) {
    .Dark.NewEditorConsole {
      border-top: none; } }
  .Dark.NewEditorConsole .NewEditorConsole__header {
    background-color: #212434;
    color: #ffffff; }
    .Dark.NewEditorConsole .NewEditorConsole__header__result {
      color: #a9abb7; }
    @media (min-width: 62em) {
      .Dark.NewEditorConsole .NewEditorConsole__header--hasTab {
        background-color: transparent; } }
    .Dark.NewEditorConsole .NewEditorConsole__header__tabs__tab {
      color: #44465b; }
      @media (min-width: 62em) {
        .Dark.NewEditorConsole .NewEditorConsole__header__tabs__tab {
          background-color: #1a1b29; } }
      .Dark.NewEditorConsole .NewEditorConsole__header__tabs__tab.Active {
        color: #dde0ea; }
        @media (min-width: 62em) {
          .Dark.NewEditorConsole .NewEditorConsole__header__tabs__tab.Active {
            background-color: #212434; } }
    .Dark.NewEditorConsole .NewEditorConsole__header__tabs__divider {
      background-color: #a9abb7; }
  .Dark.NewEditorConsole .NewEditorConsole__content {
    background-color: #212434; }
    .Dark.NewEditorConsole .NewEditorConsole__content__pre {
      color: #ffffff; }

.jupyter_output table {
  background-color: #ffffff;
  font-size: 1.4rem;
  border-top: 1px solid #4a4a4a;
  border-left: 1px solid #4a4a4a;
  border-collapse: collapse; }
  .jupyter_output table th, .jupyter_output table td {
    border: 0; }
  .jupyter_output table thead {
    border-bottom: 1px solid #9b9b9b; }
    .jupyter_output table thead th, .jupyter_output table thead td {
      padding: 3px 10px;
      border-bottom: 1px solid #4a4a4a;
      border-right: 1px solid #4a4a4a; }
  .jupyter_output table tbody tr:nth-child(2n-1) {
    background-color: #e4e4e4; }
  .jupyter_output table tbody tr:nth-child(2n) {
    background-color: #f9f9f9; }
  .jupyter_output table tbody tr:hover {
    background-color: rgba(102, 161, 244, 0.5); }
  .jupyter_output table tbody th, .jupyter_output table tbody td {
    padding: 3px 10px;
    border-bottom: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a; }

.dark .jupyter_output table {
  background-color: #272822; }
  .dark .jupyter_output table tbody tr:nth-child(2n-1) {
    background-color: #444444; }
  .dark .jupyter_output table tbody tr:nth-child(2n) {
    background-color: #343434; }
  .dark .jupyter_output table tbody tr:hover {
    background-color: rgba(102, 161, 244, 0.5); }

.jupyter_output-display__html > div {
  display: flex; }

.SqlTable table {
  background-color: #ffffff;
  font-size: 1.2rem;
  border-top: 1px solid #4a4a4a;
  border-left: 1px solid #4a4a4a;
  border-collapse: collapse; }
  @media (min-width: 48em) {
    .SqlTable table {
      font-size: 1.4rem; } }
  .SqlTable table th, .SqlTable table td {
    border: 0; }
  .SqlTable table thead {
    border-bottom: 1px solid #9b9b9b; }
    .SqlTable table thead th, .SqlTable table thead td {
      padding: .1rem .5rem;
      border-bottom: 1px solid #4a4a4a;
      border-right: 1px solid #4a4a4a; }
      @media (min-width: 48em) {
        .SqlTable table thead th, .SqlTable table thead td {
          padding: .3rem 1rem; } }
  .SqlTable table tbody tr:nth-child(2n-1) {
    background-color: #e4e4e4; }
  .SqlTable table tbody tr:nth-child(2n) {
    background-color: #f9f9f9; }
  .SqlTable table tbody tr:hover {
    background-color: rgba(102, 161, 244, 0.5); }
  .SqlTable table tbody th, .SqlTable table tbody td {
    padding: .1rem .5rem;
    border-bottom: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a; }
    @media (min-width: 48em) {
      .SqlTable table tbody th, .SqlTable table tbody td {
        padding: .3rem 1rem; } }

.SqlTable table + table {
  margin-top: 1.5rem; }

.dark .SqlTable table {
  background-color: #272822; }
  .dark .SqlTable table tbody tr:nth-child(2n-1) {
    background-color: #444444; }
  .dark .SqlTable table tbody tr:nth-child(2n) {
    background-color: #343434; }
  .dark .SqlTable table tbody tr:hover {
    background-color: rgba(102, 161, 244, 0.5); }


.CommonLoader {
  z-index: 150;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(15, 15, 15, 0.74); }
  .CommonLoader__content {
    width: 14.0rem;
    height: 14.0rem;
    border-radius: 3.9rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 1.2rem 6.4rem 0 rgba(0, 0, 0, 0.16); }
    .CommonLoader__content__loader {
      margin-top: 1.7rem;
      display: flex; }
      .CommonLoader__content__loader__symbol {
        border-radius: 50%;
        display: block;
        width: 1.0rem;
        height: 1.0rem;
        background-color: #8f00ff; }
        .CommonLoader__content__loader__symbol + .CommonLoader__content__loader__symbol {
          margin-left: 1.5rem; }
        .CommonLoader__content__loader__symbol.First {
          -webkit-animation: load 1s infinite 1s;
                  animation: load 1s infinite 1s;
          -webkit-animation-delay: 0s;
                  animation-delay: 0s; }
        .CommonLoader__content__loader__symbol.Second {
          -webkit-animation: load 1s infinite 1s;
                  animation: load 1s infinite 1s;
          -webkit-animation-delay: .2s;
                  animation-delay: .2s; }
        .CommonLoader__content__loader__symbol.Third {
          -webkit-animation: load 1s infinite 1s;
                  animation: load 1s infinite 1s;
          -webkit-animation-delay: .4s;
                  animation-delay: .4s; }
    .CommonLoader__content__title {
      font-size: 1.7rem;
      font-weight: 500;
      letter-spacing: -.043rem;
      color: #333236;
      margin-top: 2rem; }
  .CommonLoader__msg {
    margin-top: 1.5rem;
    text-align: center;
    color: #ffffff; }

.CommonLoader.Dark .CommonLoader__content {
  background-color: #2a2c3d; }
  .CommonLoader.Dark .CommonLoader__content__title {
    color: #ffffff; }

.CommonLoader__region--id .CommonLoader__content__title {
  font-size: 1.55rem; }

@-webkit-keyframes load {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(0.7rem); }
  100% {
    transform: translateY(0px); } }

@keyframes load {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(0.7rem); }
  100% {
    transform: translateY(0px); } }

.SchemaTableContent {
  background-color: #ffffff;
  font-size: 1.6rem;
  border-top: .1rem solid #4a4a4a;
  border-left: .1rem solid #4a4a4a;
  border-collapse: collapse;
  text-align: left; }
  .SchemaTableContent th, .SchemaTableContent td {
    border: 0; }
  .SchemaTableContent thead {
    border-bottom: .1rem solid #9b9b9b; }
    .SchemaTableContent thead th, .SchemaTableContent thead td {
      padding: .5rem 1.3rem;
      border-bottom: .1rem solid #4a4a4a;
      border-right: .1rem solid #4a4a4a; }
  .SchemaTableContent tbody tr:nth-child(2n-1) {
    background-color: #e4e4e4; }
  .SchemaTableContent tbody tr:nth-child(2n) {
    background-color: #f9f9f9; }
  .SchemaTableContent tbody tr:hover {
    background-color: rgba(102, 161, 244, 0.5); }
  .SchemaTableContent tbody th, .SchemaTableContent tbody td {
    padding: .5rem 1.3rem;
    border-bottom: .1rem solid #4a4a4a;
    border-right: .1rem solid #4a4a4a; }
  .SchemaTableContent__pk {
    margin-left: .6rem;
    font-size: 1.4rem;
    color: #504f52; }

.SchemaTableContent + .SchemaTableContent {
  margin-top: 1.5rem; }

.dark .SchemaTableContent {
  background-color: #1a1b29; }
  .dark .SchemaTableContent tbody tr:nth-child(2n-1) {
    background-color: #363848; }
  .dark .SchemaTableContent tbody tr:nth-child(2n) {
    background-color: #1d202e; }
  .dark .SchemaTableContent tbody tr:hover {
    background-color: rgba(102, 161, 244, 0.5); }
  .dark .SchemaTableContent__pk {
    color: #999999; }

.NewEditorConsoleBtns {
  display: flex;
  max-width: 20rem; }
  .NewEditorConsoleBtns__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5.3rem;
    height: 2.8rem;
    padding: 0 1.2rem;
    font-size: 1.3rem;
    letter-spacing: -0.23px;
    border-radius: .5rem;
    border: 0; }
    @media (min-width: 48em) {
      .NewEditorConsoleBtns__btn {
        min-width: 6.5rem;
        height: 3.5rem;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: -0.026rem; } }
    .NewEditorConsoleBtns__btn + .NewEditorConsoleBtns__btn {
      margin-left: 1rem; }
    .NewEditorConsoleBtns__btn.Submit {
      color: #ffffff;
      background-image: linear-gradient(280deg, #8400ff, #a25df4); }
    .NewEditorConsoleBtns__btn.NonRun {
      color: #a9abb7 !important;
      text-decoration: line-through; }
    .NewEditorConsoleBtns__btn.Grade {
      border: solid 1px #6500c3;
      color: #6500c3; }
  .NewEditorConsoleBtns__nonrun {
    position: absolute;
    display: none;
    right: -3rem;
    top: 5rem;
    background-color: #ffffff;
    border-radius: .7rem;
    box-shadow: 0 1rem 2rem 0 rgba(60, 59, 62, 0.26);
    z-index: 33; }
    .NewEditorConsoleBtns__nonrun--content {
      position: relative;
      width: 25rem;
      padding: 1.5rem 2.5rem;
      font-size: 1.4rem;
      line-height: 1.5;
      color: #333236;
      word-break: keep-all;
      background-color: #ffffff;
      z-index: 5;
      border-radius: .5rem; }
      .NewEditorConsoleBtns__nonrun--content::after {
        position: absolute;
        top: -.5rem;
        right: 25%;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-color: #ffffff;
        transform: rotate(45deg);
        content: ''; }

.NewEditorConsoleBtns__isDark .NewEditorConsoleBtns__btn.Submit {
  color: #ffffff; }

.NewEditorConsoleBtns__isDark .NewEditorConsoleBtns__btn.Grade {
  background-color: transparent;
  color: #8f00ff;
  border: solid .1rem #8f00ff; }

.CodeEditorWebTerminal {
  width: 100%;
  height: 100%; }
  .CodeEditorWebTerminal iframe {
    width: 100%;
    height: 100%;
    border: navajowhite;
    padding: 1rem;
    background-color: black; }
    .CodeEditorWebTerminal iframe * {
      width: 100%; }
    .CodeEditorWebTerminal iframe .xterm-viewport {
      height: 100% !important; }
    .CodeEditorWebTerminal iframe .xterm-rows {
      width: 100%;
      height: 100%; }

.CommonResult {
  z-index: 150;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(15, 15, 15, 0.74); }
  .CommonResult__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 14rem;
    border-radius: 2.4rem;
    box-shadow: 0 12px 64px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff; }
    .CommonResult__content__image.pass {
      width: 4.8rem; }
    .CommonResult__content__image.fail {
      width: 3.4rem; }
    .CommonResult__content__title {
      margin-top: 1.4rem;
      font-size: 1.7rem;
      font-weight: 600;
      letter-spacing: -.043rem;
      text-align: center;
      color: #333236; }

.CommonResult.Dark .CommonResult__content {
  background-color: #2b2e3c; }
  .CommonResult.Dark .CommonResult__content__title {
    color: #ffffff; }

.ImageViewer {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: #eeeef1;
  align-items: center;
  justify-content: center; }
  .ImageViewer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    overflow: hidden;
    max-height: 100%; }
    .ImageViewer__content span {
      background-color: #000000;
      display: block;
      color: #ffffff;
      padding: 1rem 2rem;
      width: 100%; }
    .ImageViewer__content img {
      overflow: hidden;
      max-width: 100%;
      max-height: 100%; }

.dark .ImageViewer {
  background-color: #212434; }

.CodeEditorTemplate {
  position: relative;
  display: flex;
  height: 100%;
  padding-left: 0; }
  @media (min-width: 62em) {
    .CodeEditorTemplate {
      padding-left: .8rem; } }
  .CodeEditorTemplate--withExplorer {
    padding-left: 0; }
  .CodeEditorTemplate__explorerContainer {
    flex-direction: column; }
  .CodeEditorTemplate .Buttons-set {
    display: flex;
    flex-direction: column;
    color: #ffffff; }

@media (min-width: 62em) {
  .ClassroomContent__right--show .CodeEditorTemplate {
    padding-left: 1rem; } }

.AttachList {
  display: flex;
  flex-direction: column;
  max-height: 50rem;
  width: 100%;
  margin-bottom: 2rem;
  overflow: scroll; }
  .AttachList__header {
    display: flex;
    align-items: center;
    border-radius: .7rem .7rem 0 0;
    background-color: #404351;
    height: 4rem;
    padding: 0 1.6rem; }
    .AttachList__header span {
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: -.028rem;
      color: #ffffff; }
    .AttachList__header__check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.1rem;
      height: 1.1rem;
      border-radius: .2rem;
      border: .1rem solid #dde0ea;
      box-sizing: border-box;
      margin-right: 1.1rem; }
      .AttachList__header__check.Checked {
        border: 0; }
      .AttachList__header__check img {
        border-radius: .2rem; }
    .AttachList__header__fileName {
      width: 50%; }
    .AttachList__header__id {
      text-align: center;
      width: 30%; }
    .AttachList__header__size {
      flex: 1;
      text-align: center; }
  .AttachList__body {
    flex: 1;
    border-radius: 0 0 .7rem .7rem;
    background-color: #505363;
    overflow: auto; }

.SplitViewHandler {
  position: absolute;
  top: 0;
  right: -1.2rem;
  width: 1.5rem;
  height: 100%;
  z-index: 3;
  cursor: col-resize; }
  .SplitViewHandler:hover .SplitViewHandler__button--center {
    opacity: 1; }
  .SplitViewHandler__button {
    position: absolute;
    right: .1rem;
    top: calc(50% - 2rem);
    outline: 0;
    border: 0;
    background-color: #ffffff;
    padding: 2rem .2rem 2rem 0;
    border-radius: 1rem;
    z-index: 12;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: .3s; }
    .SplitViewHandler__button--center {
      opacity: 0; }
    .SplitViewHandler__button img {
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none; }

.dark .SplitViewHandler__button {
  background-color: #373949; }

.AttachItem {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  padding: 0 1.6rem; }
  .AttachItem span {
    font-size: 1.4rem;
    letter-spacing: -.028rem;
    color: #ffffff;
    word-break: break-word; }
  .AttachItem__check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: .2rem;
    border: .1rem solid #dde0ea;
    box-sizing: border-box;
    margin-right: 1.1rem; }
    .AttachItem__check.Checked {
      border: 0; }
    .AttachItem__check img {
      border-radius: .2rem; }
  .AttachItem__fileName {
    width: 50%; }
  .AttachItem__id {
    text-align: center;
    width: 30%; }
  .AttachItem__size {
    flex: 1;
    text-align: center; }

.SplitView {
  position: relative; }
  .SplitView__left {
    position: relative; }
  .SplitView__right {
    position: relative; }

@-webkit-keyframes animationBar {
  0% {
    transform: scaleX(0);
    border-radius: 3.0rem; }
  20% {
    border-radius: 1rem; }
  100% {
    transform: scaleX(1);
    border-radius: .9rem; } }

@keyframes animationBar {
  0% {
    transform: scaleX(0);
    border-radius: 3.0rem; }
  20% {
    border-radius: 1rem; }
  100% {
    transform: scaleX(1);
    border-radius: .9rem; } }

@-webkit-keyframes correctAnswerMessageAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes correctAnswerMessageAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes wrongAnswerAnimation {
  0% {
    border: 0.1rem solid transparent; }
  17% {
    border: 0.1rem solid #ff0066; }
  33% {
    border: 0.1rem solid transparent; }
  50% {
    border: 0.1rem solid #ff0066; }
  66% {
    border: 0.1rem solid transparent; }
  83% {
    border: 0.1rem solid #ff0066; }
  100% {
    border: 0.1rem solid transparent; } }

@keyframes wrongAnswerAnimation {
  0% {
    border: 0.1rem solid transparent; }
  17% {
    border: 0.1rem solid #ff0066; }
  33% {
    border: 0.1rem solid transparent; }
  50% {
    border: 0.1rem solid #ff0066; }
  66% {
    border: 0.1rem solid transparent; }
  83% {
    border: 0.1rem solid #ff0066; }
  100% {
    border: 0.1rem solid transparent; } }

.QuizViewerMultiple__choice {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 5.0rem;
  margin-bottom: 1rem;
  padding: 0;
  color: #333236;
  border-radius: .9rem;
  background-color: #f7f7f8;
  transition-duration: .1s;
  cursor: pointer; }

.QuizViewerMultiple__cover {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 5rem;
  border-radius: .9rem;
  padding: .5rem .3rem .5rem 1.2rem; }
  .QuizViewerMultiple__cover--correctAnswerAnimation::before {
    content: ' ';
    width: 100%;
    height: 100%;
    border-radius: .9rem;
    position: absolute;
    background-image: linear-gradient(283deg, #8400ff, #a25df4);
    z-index: -1;
    left: 0;
    top: 0;
    -webkit-animation: animationBar 0.7s ease-out;
            animation: animationBar 0.7s ease-out;
    transform-origin: left; }
  .QuizViewerMultiple__cover--correctAnswerAnimation {
    position: relative;
    z-index: 1; }
  .QuizViewerMultiple__cover--correctAnswerStatic {
    background-image: linear-gradient(283deg, #8400ff, #a25df4); }
  .QuizViewerMultiple__cover--wrongAnswerAnimation {
    padding: .5rem 1.6rem .5rem 1.1rem;
    border: 0.1rem solid transparent;
    min-height: 4.8rem;
    -webkit-animation: wrongAnswerAnimation 2s ease-in-out;
            animation: wrongAnswerAnimation 2s ease-in-out; }

.QuizViewerMultiple__index {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.0rem;
  height: 3.0rem;
  padding-top: 0.2rem;
  border-radius: 50%;
  background-color: #ffffff;
  color: #69666d;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600; }
  .QuizViewerMultiple__index--checked {
    background-color: #8f00ff; }

.QuizViewerMultiple__text {
  align-self: center;
  width: calc(100% - 4rem);
  vertical-align: middle;
  padding: .5rem 0px .5rem 1.3rem;
  line-height: 1.69; }
  .QuizViewerMultiple__text .QuillViewer > p {
    color: #69666d;
    font-size: 1.4rem; }
  .QuizViewerMultiple__text .QuillViewer > pre {
    width: 100%; }
  @media (min-width: 48em) {
    .QuizViewerMultiple__text {
      padding: 0 0 0 1.5rem;
      line-height: 1.93; } }
  .QuizViewerMultiple__text--checked .QuillViewer {
    display: flex;
    align-items: center; }
    .QuizViewerMultiple__text--checked .QuillViewer > p {
      color: #6500c3;
      font-weight: 500; }
  .QuizViewerMultiple__text--solved {
    display: inline-flex; }
    .QuizViewerMultiple__text--solved .QuillViewer {
      display: flex;
      flex-grow: 1;
      margin-right: 1rem;
      align-items: center;
      width: 55%; }
      .QuizViewerMultiple__text--solved .QuillViewer > p {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #ffffff;
        font-weight: 500; }

.QuizViewerMultiple__correctAnswerMessage {
  margin-left: auto;
  font-size: 1.5rem;
  color: #ffffff; }
  .QuizViewerMultiple__correctAnswerMessage--correctAnswerAnimation {
    -webkit-animation: correctAnswerMessageAnimation 1s ease-out;
            animation: correctAnswerMessageAnimation 1s ease-out; }

.QuizViewerMultiple__review {
  margin-left: 1.5rem;
  cursor: pointer;
  text-decoration: underline; }

.dark .QuizViewerMultiple__choice {
  background-color: #212434; }

.dark .QuizViewerMultiple__index {
  color: #ffffff;
  background-color: #353748; }

.dark .QuizViewerMultiple__text .QuillViewer > p {
  color: #dde0ea; }

.dark .QuizViewerMultiple__text__checked .QuillViewer > p {
  color: #e0b4fa; }

.S .QuizViewerMultiple__text,
.M .QuizViewerMultiple__text {
  padding: .5rem 0px .5rem 1.3rem;
  line-height: 1.69; }

.dark .QuizViewerMultiple__index--checked {
  background-color: #8f00ff; }

.QuizViewerMultiple__text--checked .QuillViewer > p {
  color: #e0b4fa; }

.region__id .QuizViewerMultiple__text--solved .QuillViewer {
  display: flex;
  align-items: center;
  flex-basis: auto;
  max-width: 53%; }

.region__id .QuizViewerMultiple__text--solved code {
  color: #ffffff; }

@media (min-width: 48em) {
  .region__id .QuizViewerMultiple__correctAnswerMessage {
    text-align: right;
    line-height: 1.69; } }

@-webkit-keyframes animationBar {
  0% {
    transform: scaleX(0);
    border-radius: 3.0rem; }
  20% {
    border-radius: 1rem; }
  100% {
    transform: scaleX(1);
    border-radius: .9rem; } }

@keyframes animationBar {
  0% {
    transform: scaleX(0);
    border-radius: 3.0rem; }
  20% {
    border-radius: 1rem; }
  100% {
    transform: scaleX(1);
    border-radius: .9rem; } }

@-webkit-keyframes correctAnswerMessageAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes correctAnswerMessageAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes wrongAnswerAnimation {
  0% {
    border: 0.1rem solid transparent; }
  17% {
    border: 0.1rem solid #ff0066; }
  33% {
    border: 0.1rem solid transparent; }
  50% {
    border: 0.1rem solid #ff0066; }
  66% {
    border: 0.1rem solid transparent; }
  83% {
    border: 0.1rem solid #ff0066; }
  100% {
    border: 0.1rem solid transparent; } }

@keyframes wrongAnswerAnimation {
  0% {
    border: 0.1rem solid transparent; }
  17% {
    border: 0.1rem solid #ff0066; }
  33% {
    border: 0.1rem solid transparent; }
  50% {
    border: 0.1rem solid #ff0066; }
  66% {
    border: 0.1rem solid transparent; }
  83% {
    border: 0.1rem solid #ff0066; }
  100% {
    border: 0.1rem solid transparent; } }

.QuizViewerText__input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  border-radius: .9rem;
  border: .1rem solid #f7f7f8;
  background-color: #f7f7f8;
  padding: 1.0rem 2rem 1.0rem 2rem;
  font-size: 1.4rem;
  outline: none;
  box-sizing: border-box;
  color: #333236; }
  .QuizViewerText__input::-moz-placeholder {
    color: #a9abb7; }
  .QuizViewerText__input:-ms-input-placeholder {
    color: #a9abb7; }
  .QuizViewerText__input::placeholder {
    color: #a9abb7; }
  @media (min-width: 48em) {
    .QuizViewerText__input {
      font-size: 1.6rem; } }
  .QuizViewerText__input--correctAnswerAnimation::before {
    content: ' ';
    width: 100%;
    height: 100%;
    border-radius: .9rem;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(to left, #8400ff 100%, #a25df4 0%);
    z-index: -1;
    left: 0;
    top: 0;
    -webkit-animation: animationBar 0.7s ease-out;
            animation: animationBar 0.7s ease-out;
    transform-origin: left; }
  .QuizViewerText__input--correctAnswerAnimation {
    display: flex;
    position: relative;
    z-index: 1; }
  .QuizViewerText__input--solved {
    display: flex;
    background-color: transparent;
    background-image: linear-gradient(to left, #8400ff 100%, #a25df4 0%); }
  .QuizViewerText__input:-moz-read-only {
    color: #ffffff; }
  .QuizViewerText__input:read-only {
    color: #ffffff; }
  .QuizViewerText__input--wrongAnswerAnimation {
    -webkit-animation: wrongAnswerAnimation 2s ease-in-out;
            animation: wrongAnswerAnimation 2s ease-in-out; }

.QuizViewerText__correctAnswerMessage {
  margin-left: auto;
  font-size: 1.5rem;
  color: #ffffff; }
  .QuizViewerText__correctAnswerMessage--correctAnswerAnimation {
    -webkit-animation: correctAnswerMessageAnimation 1s ease-out;
            animation: correctAnswerMessageAnimation 1s ease-out; }

.QuizViewerText__review {
  margin-left: 1.5rem;
  cursor: pointer;
  text-decoration: underline; }

.S .QuizViewerText,
.M .QuizViewerText {
  font-size: 1.4rem; }

.dark .QuizViewerText__input {
  color: #ffffff;
  border: .1rem solid #212434;
  background-color: #212434; }
  .dark .QuizViewerText__input--correctAnswerAnimation {
    border: none; }
  .dark .QuizViewerText__input--solved {
    border: none; }

.EditorModalTemplate {
  width: 52rem;
  max-height: 70rem;
  outline: 0;
  padding: 3rem;
  border-radius: .8rem;
  box-shadow: 0 0.5rem 1.2rem 0 rgba(0, 0, 0, 0.04);
  border: solid 0.1rem rgba(151, 151, 151, 0.1);
  background-color: #2b2e3c; }
  .EditorModalTemplate__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(15, 15, 15, 0.8);
    z-index: 31;
    height: 100vh;
    width: 100vw; }
  .EditorModalTemplate__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .EditorModalTemplate__content__title {
      font-size: 1.7rem;
      font-weight: 600;
      letter-spacing: -.019rem;
      color: #ffffff;
      margin-bottom: 2.1rem; }
    .EditorModalTemplate__content__input {
      flex: 1;
      border-radius: .7rem;
      background-color: #ffffff;
      font-size: 1.5rem;
      letter-spacing: -.03rem;
      padding: 1.3rem 2.1rem;
      border: 0;
      width: 100%;
      margin-bottom: 1.7rem;
      color: #333236; }
      .EditorModalTemplate__content__input:focus {
        box-shadow: none; }
      .EditorModalTemplate__content__input::-moz-placeholder {
        color: #a9abb7; }
      .EditorModalTemplate__content__input:-ms-input-placeholder {
        color: #a9abb7; }
      .EditorModalTemplate__content__input::placeholder {
        color: #a9abb7; }
    .EditorModalTemplate__content__btn {
      border-radius: .7rem;
      box-shadow: 0 0.9rem 1.1rem 0 rgba(124, 0, 255, 0.12);
      background-image: linear-gradient(292deg, #6c10fe, #8a5feb);
      font-size: 1.7rem;
      font-weight: 600;
      letter-spacing: -.03rem;
      color: #ffffff;
      padding: 1rem 2.1rem;
      border: 0;
      margin-top: 2.0rem; }
  .EditorModalTemplate__toggles {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: -.034rem;
    color: #ffffff;
    margin-bottom: 2rem; }
  .EditorModalTemplate__toggleBtn {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: -.03rem;
    color: #ffffff;
    margin-right: 2rem; }
    .EditorModalTemplate__toggleBtn__btn {
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      border: solid .1rem #dde0ea;
      border-radius: 50%;
      margin-right: 1rem; }
    .EditorModalTemplate__toggleBtn__btn.Clicked {
      background-image: linear-gradient(314deg, #8a5feb, #6c10fe);
      border: 0; }
      .EditorModalTemplate__toggleBtn__btn.Clicked span {
        width: .8rem;
        height: .8rem;
        box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        border-radius: 50%; }

#uploadResourceFile {
  color: #ffffff;
  background-color: black; }
  #uploadResourceFile span {
    color: red; }

label {
  vertical-align: text-bottom;
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 14px; }
  label svg {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    margin-right: 6px;
    border-radius: 3px;
    overflow: hidden; }
  label .background--unselected {
    stroke-width: .3rem; }
  label.selected .background--unselected {
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .25s ease-in-out; }

.Checkbox__message.is-dark {
  color: #e9e9e9; }

.Checkbox__message {
  color: #131313; }

.check {
  transform: scale(0.85);
  transform-origin: center; }

